{if="!isset($post)"}

<form method="get" action="{$dir}cities/search">
<div class="form-group">
	<label class="control-label" for="title">Название города:</label>
	<div class="controls">
	<input type="text" class="input-xlarge form-control" rows="5" value="" name="name" id="title"></textarea>
	</div>
</div>
<button class="btn btn-info">Найти город</button>
</form>


<h4>Список городов</h4>
<table class="table"><thead>
<th>Город</th>
<th>Количество юзеров</th></thead>
{$code}
</table>
{else}
<p>Из города &quot;{$city}&quot; найдены следующие люди ({$count}):</p>
<a href="{$dir}top/{$city_id}" class="btn btn-xs btn-info">Топ по городу</a><br />
<center style="margin-bottom:15px;padding:15px;">
{$buttons}
</center>
{$code}
<center style="margin-bottom:15px;padding:15px;">
{$buttons}
</center>
<script>
$.ajax({  
  	url: 'http://api.vk.com/method/users.get?user_ids={$list}&fields=photo_100,bdate',  
  	dataType: "jsonp",  
	success:function(e){ 
		for(i in e.response){
			u=e.response[i];
			uid=u.uid;
			$("#u"+uid).html("<img src='"+u.photo_100+"'><br /><h4>"+u.first_name+" "+u.last_name+"</h4><br />"+1);
		}
	}  
}); 
</script>
{/if}