<form action="{$dir}get/search" method="GET">
<label>ID или ссылка на страницу конкретного человека:</label>
<div class="right-inner-addon center-inp">
	<i class="glyphicon glyphicon-user"></i>
	<input type="text" class="form-control" id="superblock" placeholder="Ссылка на страницу, либо ID" name="ids" />
</div><br />
<input type="submit" class="btn btn-info" value="Найти" />
</form>
<hr>

<form action="{$dir}get/friends" method="GET">
<label>Введи СВОЙ ид или ссылку на страницу и узнай, кто из твоих &quot;друзей&quot; в базе:</label><br>
<div class="right-inner-addon center-inp">
	<i class="glyphicon glyphicon-search"></i>
	<input type="text" class="form-control" placeholder="Ссылка на страницу, либо ID (vk.com/durov, durov, id1)" name="id" />
</div>
<br>
<input type="submit" class="btn btn-info" value="Найти" />
</form>
<hr>

<form action="{$dir}get/group" method="GET">
<label>Вставь ссылку на группу и увидешь, кто выложил туда фотки:</label><br>
<div class="right-inner-addon center-inp">
	<i class="glyphicon glyphicon-search"></i>
	<input type="text" class="form-control" placeholder="Ссылка на страницу, либо ID" name="id" />
</div>
<br>
<input type="submit" class="btn btn-info" value="Найти" />
</form>
<hr>

<form action="{$dir}get/group2" method="GET">
<label>Вставь ссылку на группу и пали тех, участников ЭТОЙ группы (максимум 4000 человек сканится):</label><br>
<div class="right-inner-addon center-inp">
	<i class="glyphicon glyphicon-search"></i>
	<input type="text" class="form-control" placeholder="Ссылка на страницу, либо ID" name="id" />
</div>
<br>
<input type="submit" class="btn btn-info" value="Найти" />
</form>
<hr>
<h2 class="text-center">Спонсор проекта - <a href="https://vk.com/diabllo" target="_blank">Юрий Тетюриков</a></h2>
<div class="alert alert-warning">Нужен API? Пишите на почту. <!--Вы можете скинуть пожертвования на хостинг, что-бы не лагало. Нужно сменить тариф на хостинге. ЯД: 41001293997853<br />-->Есть чо сказать? hormold@ya.ru </div>
<div class="alert alert-warning">Можете обсудить сайт - <a target="_blank" rel="nofollow" href="//vk.com/project_pho1">vk.com/project_pho1</a> (автор годноты не имеет отношения к группе)</div>