{if="isset($ok)"}
	<div class="alert alert-success">Запрос отправлен.</div>
{else}
	<div class="alert alert-warning">Если сервис будет сильно перегружен, закроемся и будем только для двача и по инвайтам</div>
{/if}
<form method="post">
    <div class="form-group">
      <label class="control-label" for="email">Почта:</label>
      <div class="controls">
        <input type="text" name="email" value="" placeholder="Если закроемся, получишь инвайт" class="input-xlarge form-control">
      </div>
    </div>
    <button class="btn btn-info">Спасибо!</button>
</form>