<script type="text/javascript">
var photos = {$photos};
</script>
<script type="text/javascript" src="{$dir}fancybox/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="{$dir}fancybox/jquery.fancybox.css" type="text/css" media="screen" />
<script type="text/javascript">
function removeThis(pid) {
	var e = document.getElementById('pid' + pid);
	e.innerHTML = "<p>Ваш запрос добавлен в базу. Спасибо, что сохраняете интернет чистым :)</p>"
	
	$.ajax({
		url: "{$dir}sazha/" + pid,
	});
}

function vote(pid){
	
	$.ajax({
		url: "{$dir}vote/" + pid,
	}).done(function(d){
		$("#msg").html(d).show(600);
	});
	return false;
}
function tosmall(pid){
	
	$.ajax({
		url: "{$dir}tosmall/" + pid,
	}).done(function(d){
		$("#msg").html(d).show(600);
	});
	return false;
}

$(document).ready(function() {
	$("a[rel=group]").fancybox({
		beforeShow : function() {
			this.title = '<a class="white_text" target="_blank" href="' + photos[this.index].src + '">Прямая ссылка</a> || <a class="white_text" target="_blank" href="http://vk.com/' + photos[this.index].link_suffix + '">Нормальная ссылка</a> || <a class="white_text" href="{$dir}sazha/' + photos[this.index].photo_id + '" onClick="removeThis('+ photos[this.index].photo_id + '); return false;">Это сажа</a> || <a class="white_text" id="name'+photos[this.index].id+'"></a>';
		}
	});
	
});
</script>
<div id="msg" class="alert alert-info" style="display:none;"></div>
<a href="javascript://return false;" OnClick="history.go(-1);" class="btn btn-info">Вернуться назад</a></p>
{if="isset($error)"}
Ошибка! - {$error}
{else}
<div style='float:right'><h2 id='uname'></h2><br /><img id='uphoto' src='{$photo_200_orig}'>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?108"></script><br />
<br /> 
<a href="#" onClick="return vote({$id});" class="btn btn-sm btn-hover btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> ГОЛОСУЮ ЗА!</a><br />
<a href="#" onClick="return tosmall({$id});" class="btn btn-sm btn-hover btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span> НЕТ 18!!!!</a>

</div>
{$code}
{/if}
<script>
$.ajax({  
  	url: 'http://api.vk.com/method/users.get?user_ids={$id}&fields=photo_200',  
  	dataType: "jsonp",  
	success:function(e){ 
		$('#uname').html(e.response[0].first_name+" "+e.response[0].last_name);
		$("#uphoto").attr("src", e.response[0].photo_200);
	}  
}); 
</script>
