<h4>Топ по просмотрам (по городу)</h4>
<div class="">
<table class="table">
	<thead>
	<th style="width:50px;"></th>
	<th>Имя</th>
	<th>Просмотров</th>
	<th>Открыть страницу</th>
	</thead>
	{loop="$top"}
	{if="$value!==1 AND $key!==1011"}
	<tr>
		<td id="img-{$key}"></td>
		<td id="user-{$key}">{$key}</td>
		<td>{$value}</td>
		<td><a href="{$dir}profile/{$key}" target="_blank">Открыть</a> | <a href="http://vk.com/id{$key}" target="_blank" rel="nofollow">ВК</a></td>
	</tr>
	{/if}
	{/loop}
</table>
</div>

<script>
$.ajax({  
  	url: 'http://api.vk.com/method/users.get?user_ids={$list}&v=5.14&fields=photo_100,city,education,bdate',  
  	dataType: "jsonp",  
	success:function(e){ 
		for(i in e.response){
			u=e.response[i];
			uid=u.id;add="";
			if(u.bdate!==undefined){age="Дата рождения: "+u.bdate;}else{age="";}
			$("#user-"+uid).html("ok");
			if(u.city){city="Город: "+u.city.title+" | ";}else{city="";}
			if(u.university_name!=="" && u.university_name!==undefined){add=" - "+u.university_name;if(u.faculty_name!==""){add+=" ("+u.faculty_name+")";}}
			str=u.first_name+" "+u.last_name+add+"<br />"+city+age;
			$("#user-"+uid).html(str).show().html("!").html(str);
			$("#img-"+uid).html("<a href='{$dir}profile/"+uid+"' target='_blank'><img style='width:50px;' src='"+u.photo_100+"'/></a>");
		}
	}  
}); 
</script>